# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Database
*.db

# Project datasets
datasets/
*.zip

# Generated data quality reports
reports/

# OS Files
.DS_Store
Thumbs.db